body{
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}
.outer{
    display: flex;
    /* margin-top: 20%; */
    justify-content:space-between;
}
.inner2{
    background-color: white;
    width: 449px;
    height: 569px;
    border-radius: 25px;
    margin: 00px;
    margin-top: 141px;
}
.inp1{
    border-radius: 64px;
    text-align: center;
    width: 421px;
    height: 50px;
    font-size: 20px;
    margin-top: 56px;
    left: 100px;
}
input[type="text"]::placeholder{
    text-align: center;
}
input[type="text"]:focus{
    outline: none;
}
.head1{
    width: 285px;
    height: 82px;
    left: 100px;
    margin-top: 67px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;
    color: #FFFFFF;
}
.head2{
    width: 112px;
    height: 23px;
    left: 100px;
    margin-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #E5E5E5;
}
.head3{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
.head4{
    text-align: center;
    /* font-size: 60px; */
    position: relative;
    left: -20px;
    margin-top: -10px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 117px;
line-height: 137px;

color: #FFFFFF;
}
.head5{
    text-align: center;
    position: relative;
    /* left: -10px; */
    width: 171px;
height: 23px;
left: 100px;
top: -19px;
color: #FFFFFF;
}
.inner1-inner{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 50px;
    width: 421px;
height: 150px;
left: 100px;
}
.head8{
    padding-left: 30px;
    padding-right: 30px;
}
hr{
    border: solid 1px black;
    background-color: black;
}
@media only screen and (max-width:800px)
{
    .outer{
        flex-direction: column;
    }
    .inner1{
        text-align: center;
    }
    .inp1{
        width: 50%;
    }
    .inner1-inner{
        width: 50%;
        margin: auto;
        margin-top: 30px;
    }
    .inner2{
        margin: auto;
        width: 50%;
        margin-top: 30px;
    }
}